.calendar {
	position: relative;
	margin: auto;
	width: 70vw;
	height: 40vw;
}
.base {
	width: 70%;
	height: 100%;
	border-radius: 2vw;
	box-shadow: 0.2vw 0.2vw 1vw 0 rgba(0, 0, 0, 0.27);
	overflow: hidden;
}
.base.bottom {
	position: absolute;
	left: 15%;
	background-color: #fff;
}
.base.bottom::before {
	content: ' ';
	display: block;
	width: 100%;
	height: 20%;
	background-color: #29335C;
}
.days {
	width: 90%;
	height: 75%;
	position: absolute;
	top: 10%;
	left: 5%;
	/* Grid display */
	display: grid;
	grid-template: repeat(6, 1fr)/repeat(7, 1fr);
	grid-gap: 0.2vw;
}
/* Days of the week */
.days > p.weekday {
	font-weight: bold;
	color: #F3A712;
	margin-bottom: 4vh;
}
/* All days */
.days > p {
	text-align: center;
	padding-top: 5%;
	font-family: Roboto, sans-serif;
	font-size: 1.8vw;
	color: #29335C;
}
/* Days of the past month */
.days > p.old {
	color: #cccccc;
}
/* Days of the next month */
.days > p.futur {
	color: #cccccc;
}
/* Style inside calendar */
.daysBorder {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
